*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    
}
.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.hero .container{
    display: flex;
    gap: 40px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    
    box-shadow: 10px 10px 20px ;
}
h1{

    border-radius: 14px;
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 10px;
}
p{
    font-size: 20px;
    font-weight: 1000;  
      margin-top: 20px;
}
.box{
    width: 90px;   
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
    border: 1pc solid black;
}
#box1{
    background-color: #ff0a0a;
}
#box2{
    background-color: #1a9804;
    
}
#box3{
    background-color: #4000af;
    
}
#box4{
    background-color: #f3ff10;
    
}
#box5{
    background-color: #ad00b6;

}
.box:hover {
    transform: translateY(-5px);
}

